<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lib/w3.css" />
    <link rel="stylesheet" href="/lib/font-awesome-4.7.0/css/font-awesome.min.css" />

    <!--========== BOX ICONS ==========-->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

    <!--========== CSS ==========-->
    <link rel="stylesheet" href="/assets/css/styles_home.css">

    <title>H.Y</title>
    <style>
        .aa_container {
            vertical-align: middle;
            text-align: center;
            margin: 0;
            background-color: #f8ce4f;
            max-height: var(--header-logo-height);
        }

        .aa {
            max-height: 140px;
            max-width: 100%;
            margin: 0;
            background-color: transparent;
            vertical-align: middle;
            text-align: center;
        }
    </style>
</head>

<body dir="rtl">

    <!--========== SCROLL TOP ==========-->
    <a href="#" class="scrolltop" id="scroll-top">
        <i class='bx bx-chevron-up scrolltop__icon'></i>
    </a>

    <!--========== HEADER ==========-->
    <header class="l-header" id="header">
        <!-- <div class="aa_container">
            <img alt="logo" class="aa" src="/assets/img/logo-H.Y-1.png">
        </div> -->
        <nav class="nav bd-container">
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li><i class='bx bx-moon change-theme' id="theme-button"></i></li>

                    <li class="nav__item"><a href="/views/home.html" class="nav__link active-link">ראשי</a></li>
                    <li class="nav__item"><a href="/views/home.html" class="nav__link">לוגו</a></li>
                    <li class="nav__item"><a href="/views/home.html" class="nav__link">אינסטגרם</a></li>
                    <li class="nav__item"><a href="/views/home.html" class="nav__link">קליפים</a></li>
                    <li class="nav__item"><a href="/views/home.html" class="nav__link">כרטיסי ביקור</a></li>
                </ul>
            </div>

            <a href="#" class="nav__logo">H.Y</a>

            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
            </div>
        </nav>
    </header>

    <main class="l-main">
        <!--========== HOME ==========-->
        <section class="home" id="home">
            <div class="home__container bd-container bd-grid">
                <div class="home__data_div w3-light-grey">
                    <div class="home__data">
                        <h5 class="home__subtitle w3-text-red">מיתוג העסק באמצעות לוגו </h5>
                        <h5 class="home__subtitle w3-text-purple">עיצוב תמונת פרופיל</h5>
                        <h5 class="home__subtitle w3-text-blue">יצירת סטורי באינסטגרם</h5>
                        <h5 class="home__subtitle w3-text-green">עיצוב כרטיסי ביקור לעסק</h5>
                        <h5 class="home__subtitle w3-text-orange">עריכת קליפ מילים לשיר</h5>
                    </div>
                </div>

                <img src="/img/logo_Black_1_H.Y.png" alt="" class="home__img">
            </div>
        </section>

        <!--========== ABOUT ==========-->
        <section class="about section bd-container" id="about">
            <div class="about__container  bd-grid">
                <div class="about__data">
                    <span class="section-subtitle about__initial">About us</span>
                    <h2 class="section-title about__initial">We cook the best <br> tasty food</h2>
                    <p class="about__description">We cook the best food in the entire city, with excellent customer
                        service, the best meals and at the best price, visit us.</p>
                    <a href="#" class="button">Explore history</a>
                </div>

                <img src="/assets/img/about.jpg" alt="" class="about__img">
            </div>
        </section>

        <!--========== SERVICES ==========-->
        <section class="services section bd-container" id="services">
            <span class="section-subtitle">Offering</span>
            <h2 class="section-title">Our amazing services</h2>

            <div class="services__container  bd-grid">
                <div class="services__content">


                    <h3 class="services__title">Excellent food</h3>
                    <p class="services__description">We offer our clients excellent quality services for many years,
                        with the best and delicious food in the city.</p>
                </div>

                <div class="services__content">
                    <svg class="services__img" xmlns="http://www.w3.org/2000/svg">

                        <defs>
                            <clipPath id="clip0">
                                <rect width="64" height="64" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>
                    <h3 class="services__title">Fast food</h3>
                    <p class="services__description">We offer our clients excellent quality services for many years,
                        with the best and delicious food in the city.</p>
                </div>

                <div class="services__content">
                    <svg class="services__img" xmlns="http://www.w3.org/2000/svg">


                        <defs>
                            <clipPath id="clip0">
                                <rect width="64" height="64" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>
                    <h3 class="services__title">Delivery</h3>
                    <p class="services__description">We offer our clients excellent quality services for many years,
                        with the best and delicious food in the city.</p>
                </div>
            </div>
        </section>

        <!--========== MENU ==========-->
        <section class="menu section bd-container" id="menu">
            <span class="section-subtitle">Special</span>
            <h2 class="section-title">Menu of the week</h2>

            <div class="menu__container bd-grid">
                <div class="menu__content">
                    <img src="/assets/img/plate1.png" alt="" class="menu__img">
                    <h3 class="menu__name">Barbecue salad</h3>
                    <span class="menu__detail">Delicious dish</span>
                    <span class="menu__preci">$22.00</span>
                    <a href="#" class="button menu__button"><i class='bx bx-cart-alt'></i></a>
                </div>

                <div class="menu__content">
                    <img src="/assets/img/plate2.png" alt="" class="menu__img">
                    <h3 class="menu__name">Salad with fish</h3>
                    <span class="menu__detail">Delicious dish</span>
                    <span class="menu__preci">$12.00</span>
                    <a href="#" class="button menu__button"><i class='bx bx-cart-alt'></i></a>
                </div>

                <div class="menu__content">
                    <img src="/assets/img/plate3.png" alt="" class="menu__img">
                    <h3 class="menu__name">Spinach salad</h3>
                    <span class="menu__detail">Delicious dish</span>
                    <span class="menu__preci">$9.50</span>
                    <a href="#" class="button menu__button"><i class='bx bx-cart-alt'></i></a>
                </div>
            </div>
        </section>

        <!--===== APP =======-->
        <section class="app section bd-container">
            <div class="app__container bd-grid">
                <div class="app__data">
                    <span class="section-subtitle app__initial">App</span>
                    <h2 class="section-title app__initial">App is aviable</h2>
                    <p class="app__description">Find our application and download it, you can make reservations, food
                        orders, see your deliveries on the way and much more.</p>
                    <div class="app__stores">
                        <a href="#"><img src="/assets/img/app1.png" alt="" class="app__store"></a>
                        <a href="#"><img src="/assets/img/app2.png" alt="" class="app__store"></a>
                    </div>
                </div>

                <img src="/assets/img/movil-app.png" alt="" class="app__img">
            </div>
        </section>

        <!--========== CONTACT US ==========-->
        <section class="contact section bd-container" id="contact">
            <div class="contact__container bd-grid">
                <div class="contact__data">
                    <span class="section-subtitle contact__initial">Let's talk</span>
                    <h2 class="section-title contact__initial">Contact us</h2>
                    <p class="contact__description">If you want to reserve a table in our restaurant, contact us and we
                        will attend you quickly, with our 24/7 chat service.</p>
                </div>

                <div class="contact__button">
                    <a href="#" class="button">Contact us now</a>
                </div>
            </div>
        </section>
    </main>

    <!--========== FOOTER ==========-->
    <footer class="footer section bd-container">
        <div class="footer__container bd-grid">
            <div class="footer__content">
                <a href="#"><i class="fa fa-facebook-official"></i></a>
                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-flickr"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <p class="w3-medium">
                    Logo <a href="#">H.Y</a>
                </p>
                <p class="w3-medium">&copy; 2020 - Made by Ido Yehezkel</p>
            </div>
        </div>

    </footer>

    <!--========== SCROLL REVEAL ==========-->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!--========== MAIN JS ==========-->
    <script src="/assets/js/main_home.js"></script>
</body>

</html>